*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body { 
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: rgb(216, 248, 216);
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 60%;
    background-color: rgb(128, 221, 128);
    border-radius: 10px;
    box-shadow: 2px 3px rgb(17, 86, 17);
    margin: 20px 0 20px 0;
}

/*Small screens*/
@media (max-width:560px) {
    main{
        width:90%;
    }
}

@media (min-width:561px) and (max-width:1200px) {
    main{
        width:80%;
    }
}

h1 {
    text-align: center;
    font-size: 45px;
    padding-top: 20px;
}
.middle {
    text-align: center;
    font-size: 16px;
    padding: 20px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width:100%;
    height: auto;
    border-radius: 10px;
}
figcaption{
    text-align: center;
}
.content {
   padding-left: 50px;
}
#headline{
    text-align: left;
    padding-left: 25px;
}
li {
    padding: 0 15px 10px 0;
}
h3 {
    font-size: 16px;
    text-align: center;
    padding: 20px;
}
blockquote {
    text-align: center;
    font-style: italic;
}
blockquote p {
    font-weight: bolder;
}
.more {
    font-weight: 550;
}
a{
    color: #000000;
}
a:hover{
    color: blue;
} 
a:visited {
    color: #74638f;
}
